include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

+head("contact")
  +header
    span contact

  main
    ul(class=linkscont)
      li(class=linkselem)
        span(class="my-auto mr-3 align-[-0.125em] inline")
          iconify-icon(icon="simple-icons:discord" inline)
        | Discord - Nanai10a#4213

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/twitter.com/n7idev")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="simple-icons:twitter" inline)
          | Twitter

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/github.com/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="simple-icons:github" inline)
          | GitHub

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/keybase.io/nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="simple-icons:keybase" inline)
          | Keybase

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/www.reddit.com/user/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="simple-icons:reddit" inline)
          | Reddit

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/qiita.com/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-question-answer" inline)
          | Qiita

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/zenn.dev/nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-question-answer" inline)
          | Zenn

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/connpass.com/user/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-event" inline)
          | Connpass

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/speakerdeck.com/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-slideshow" inline)
          | SpeakerDeck

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/atcoder.jp/users/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-emoji-events" inline)
          | AtCoder

      li(class=linkselem title="jump to another site.")
        a(class=linkmarkp href="https:\/\/lapras.com/public/Nanai10a")
          span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-info" inline)
          | LAPRAS

      li(class=linkselem)
        span(class="my-auto mr-3 align-[-0.125em] inline")
            iconify-icon(icon="ic:round-email" inline)
        | Email - me@n7i.dev

  +footer
