include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

+head
  +header
    span contact

- var contacts = { Discord: { text: "Nanai10a#4213", icon: "simple-icons:discord" }, Twitter: { href: "twitter.com\/n7idev", icon: "simple-icons:twitter" }, GitHub: { href: "github.com\/Nanai10a", icon: "simple-icons:github" }, Keybase: { href: "keybase.io\/nanai10a", icon: "simple-icons:keybase" }, Reddit: { href: "www.reddit.com\/user\/Nanai10a", icon: "simple-icons:reddit" }, Qiita: { href: "qiita.com\/Nanai10a", icon: "ic:round-question-answer" }, Zenn: { href: "zenn.dev\/nanai10a", icon: "ic:round-question-answer" }, Connpass: { href: "connpass.com\/user\/Nanai10a", icon: "ic:round-event" }, SpeakerDeck: { href: "speakerdeck.com\/Nanai10a", icon: "ic:round-slideshow" }, AtCoder: { href: "atcoder.jp\/users\/Nanai10a", icon: "ic:round-emoji-events" }, LAPRAS: { href: "lapras.com\/public\/Nanai10a", icon: "ic:round-info" }, Email: { text: "me@n7i.dev", icon: "ic:round-email" } };
  main
    ul(class=flexcont)
      each val, key in contacts
        if val.href
          - var title = "jump to another site.";

        li(class="flex items-center" title=title)
          span(class="mr-3 inline iconify-inline" data-icon=val.icon)
          if val.href
            a(href=`https:\/\/${val.href}`)= key
          else if val.text
            span= key + " - " + val.text
          else
            span

  +footer
