include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

mixin githubref(href)
  a(href=`https:\/\/github.com/${href}` title="jump to another site.")
    span(class=elemicon data-icon="simple-icons:github")

+head
  +header
    span gallery

  main
    div(class=cont)
      dl(class=gridcont)
        div(class=gridelem)
          dt(class=elemtitle) Icey Pudding #[+githubref("Nanai10a/icey_pudding")]
          dd
            | Discord Bot for recording messages. #[br]
            | built with Rust and serenity.

        div(class=gridelem)
          dt(class=elemtitle) Vivara #[+githubref("Nanai10a/vivara")]
          dd
            | Discord Bot for play musics on vc. #[br]
            | built with Rust and twilight.

  +footer
