include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

+head
  +header
    span hobby

  main
    div(class=flexcont)
      | Like Artists
      div(class=gridcont)
        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Frums]
          span love musics, arts, and episodes, intensely.

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim t#[span(class="font-bold text-[0.625em]") +]pazolite]
          span beautiful, fast, funny, special, and crazy musics.

        div(class=gridelem)
          span(class=elemtitle)
            span E.G.G. (COSIO)
          span fascinated special beats, sounds.

        div(class=gridelem)
          span(class=elemtitle)
            span Sta / #[+textprim THE SHAFT]
          span why can't listen only 2 tracks????? *sigh*

        div(class=gridelem)
          span(class=elemtitle)
            span nitro
          span glitch and fantasic sounds.

        div(class=gridelem)
          span(class=elemtitle)
            span Silentroom
          span dark or dreamic wonderful musics.

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Iyowa]
          span sharp and strange sounds, lyrics - music.

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim TUYU]
          span good sounds, sharpened lyrics.

        div(class=gridelem)
          span(class=elemtitle)
            span ak#[span(class="font-bold text-[0.625em]") +]q
          span transparent clear sounds. and works to Arcaea.

        div(class=gridelem)
          span(class=elemtitle)
            span Yunosuke
          span very hot drops and sounds. Vo. and Inst. musics.

        div(class=gridelem)
          span(class=elemtitle)
            span II-L
          span experimental musics.

        div(class=gridelem)
          span(class=elemtitle)
            span Akira Complex
          span brain whited out, forever.

        div(class=gridelem)
          span(class=elemtitle)
            span Daily天利
          span amazing arrangements, and original musics.

  +footer
