include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

+head
  +header
    span hobby

  main
    div(class=cont)
      span(class=conttitle) Like Artists
      dl(class=gridcont)
        div(class=gridelem)
          dt(class=elemtitle) #[+textprim Frums]
          dd love musics, arts, and episodes, intensely.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim t#[span(class="font-bold text-[0.625em]") +]pazolite]
          dd beautiful, fast, funny, special, and crazy musics.

        div(class=gridelem)
          dt(class=elemtitle) E.G.G. (COSIO)
          dd fascinated special beats, sounds.

        div(class=gridelem)
          dt(class=elemtitle) Sta / #[+textprim THE SHAFT]
          dd why can't listen only 2 tracks????? *sigh*

        div(class=gridelem)
          dt(class=elemtitle) nitro
          dd glitch and fantasic sounds.

        div(class=gridelem)
          dt(class=elemtitle) Silentroom
          dd dark or dreamic wonderful musics.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim Iyowa]
          dd sharp and strange sounds, lyrics - music.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim TUYU]
          dd good sounds, sharpened lyrics.

        div(class=gridelem)
          dt(class=elemtitle) ak#[span(class="font-bold text-[0.625em]") +]q
          dd transparent clear sounds. and works to Arcaea.

        div(class=gridelem)
          dt(class=elemtitle) Yunosuke
          dd very hot drops and sounds. Vo. and Inst. musics.

        div(class=gridelem)
          dt(class=elemtitle) II-L
          dd experimental musics.

        div(class=gridelem)
          dt(class=elemtitle) Akira Complex
          dd brain whited out, forever.

        div(class=gridelem)
          dt(class=elemtitle) Daily天利
          dd amazing arrangements, and original musics.

  +footer
