include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug


+head
  +header
    span history

  main
    div(class=flexcont)
      | Like Artists
      div(class=gridcont)
        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Frums]

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim E.G.G.] (COSIO)

        div(class=gridelem)
          span(class=elemtitle)
            span Sakuzyo

        div(class=gridelem)
          span(class=elemtitle)
            span xi

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim t#[span(class="font-bold text-[0.625em]") +]pazolite]

        div(class=gridelem)
          span(class=elemtitle)
            span Sta / #[+textprim THE SHAFT]

        div(class=gridelem)
          span(class=elemtitle)
            span Silentroom

        div(class=gridelem)
          span(class=elemtitle)
            span BlackY (WAiKURO)

        div(class=gridelem)
          span(class=elemtitle)
            span Camellia

        div(class=gridelem)
          span(class=elemtitle)
            span Feryquitous

        div(class=gridelem)
          span(class=elemtitle)
            span LeaF

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Yunosuke]

        div(class=gridelem)
          span(class=elemtitle)
            span Street

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim ak#[span(class="font-bold text-[0.625em]") +]q]

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim nitro]

        div(class=gridelem)
          span(class=elemtitle)
            span PSYQUI

        div(class=gridelem)
          span(class=elemtitle)
            span Puru

        div(class=gridelem)
          span(class=elemtitle)
            span ARForest

        div(class=gridelem)
          span(class=elemtitle)
            span Sound Souler

        div(class=gridelem)
          span(class=elemtitle)
            span ZxNX

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim II-L]

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim TUYU]

        div(class=gridelem)
          span(class=elemtitle)
            span ああああ

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Akira Complex]

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Iyowa]

        div(class=gridelem)
          span(class=elemtitle)
            span Team Grimore

        div(class=gridelem)
          span(class=elemtitle)
            span EBIMAYO

        div(class=gridelem)
          span(class=elemtitle)
            span #[+textprim Daily天利]

  +footer
