include ../mixins/head.pug
include ../mixins/header.pug
include ../mixins/colored.pug
include ../mixins/basic.pug
include ../mixins/footer.pug

mixin icon(name)
  span(class=elemicon data-icon=name)

+head
  +header
    span skill

  main
    div(class=cont)
      span(class=conttitle) languages
      dl(class=gridcont)
        div(class=gridelem)
          dt(class=elemtitle) .#[+textprim rs] #[+icon("simple-icons:rust")]
          dd
            | love namings, features, and community. #[br]
            | is very useful, and looking forward to the future.

        div(class=gridelem)
          dt(class=elemtitle) .#[+textprim kt] #[+icon("simple-icons:kotlin")]
          dd
            | love notations, features. #[br]
            | well balanced and great, and was fascinated by codes.

        div(class=gridelem)
          dt(class=elemtitle) .go #[+icon("simple-icons:go")]
          dd
            | is fast and simple. #[br]
            | in planning, becomes 2nd candicates of language.

        div(class=gridelem)
          dt(class=elemtitle) .ts #[+icon("simple-icons:typescript")]
          dd
            | flexible use, interesting type system. #[br]
            | don't like .js, so is my good compromise plan.

        div(class=gridelem)
          dt(class=elemtitle) .java #[+icon("cib:java")]
          dd
            | my mother tongue, interesting oop approarch. #[br]
            | if to use, reccomend .kt. my thinking affected.

        div(class=gridelem)
          dt(class=elemtitle) .#[+textprim hs] #[+icon("simple-icons:haskell")]
          dd
            | very interesting type system and notations. #[br]
            | funcional approarch is one of my most interestings things.

        div(class=gridelem)
          dt(class=elemtitle) .c #[+icon("simple-icons:c")]
          dd
            | don't like, but absolutely required. #[br]
            | can only use basic usages. i wish won't use this.

        div(class=gridelem)
          dt(class=elemtitle) .cpp #[+icon("simple-icons:cplusplus")]
          dd
            | interesting features, "black magic" #[br]
            | i'm interested in multiple approarches, and complex features.

      span(class=conttitle) frameworks / solutions
      dl(class=gridcont)
        div(class=gridelem)
          dt(class=elemtitle) react #[+icon("simple-icons:react")]
          dd
            | needings are just in one. #[br]
            | has affinity with js / ts (jsx / tsx). and functional approarch.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim next] #[+icon("simple-icons:nextdotjs")]
          dd
            | all in one, complete framework. #[br]
            | amazing features, usability, and reliability.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim tailwindcss] #[+icon("simple-icons:tailwindcss")]
          dd
            | useful approarch, easily integration. #[br]
            | can styling relaxed. i like to use.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim mongodb] #[+icon("simple-icons:mongodb")]
          dd
            | flexible and easily use. #[br]
            | can use from multiple environments, and reliable praticality.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim bevy] #[+icon("ic:round-videogame-asset")]
          dd
            | very interesting and hope to the future. #[br]
            | learning how to build games with. still learning...

        div(class=gridelem)
          dt(class=elemtitle) serenity #[+icon("simple-icons:discord")]
          dd
            | using for build of discord application.

        div(class=gridelem)
          dt(class=elemtitle) jda #[+icon("simple-icons:discord")]
          dd
            | my first used framework. for build of discord application.

      span(class=conttitle) others
      dl(class=gridcont)
        div(class=gridelem)
          dt(class=elemtitle) html5 #[+icon("simple-icons:html5")]
          dd
            | learning semantics, written by me is dirty.

        div(class=gridelem)
          dt(class=elemtitle) css3 #[+icon("simple-icons:css3")]
          dd
            | fighting styling will continue...

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim archlinux] #[+icon("simple-icons:archlinux")]
          dd
            | my home is arch. can basically use.

        div(class=gridelem)
          dt(class=elemtitle) git #[+icon("simple-icons:git")]
          dd
            | mainly used with github, can basically use.

        div(class=gridelem)
          dt(class=elemtitle) #[+textprim neovim] #[+icon("simple-icons:neovim")]
          dd
            | loves vi keybinds. but not be still mastered.

  +footer
